<div class="row mt-3 mb-5">
  <h3>Invoices</h3>
  <div class="col-8">
    <%= render '/layouts/partials/filter', locals: { path: invoices_path } %>
  </div>
  <div class="col-2 offset-2 mt-3 mb-3 text-right">
    <%= link_to 'Create Invoice', '#createInvoiceModal',
                class: 'btn btn-primary', 'data-toggle' => 'modal' %>
  </div>

  <table class="table table-bordered mt-2">
    <thead class="table-success">
      <tr>
        <th scope="col">
          <%= sort_link 'code', 'code', request.params %>
        </th>
        <th scope="col">campaigns</th>
        <th scope="col">grand-totals</th>
        <th scope="col">
          <%= sort_link 'created at', 'created_at', request.params %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= link_to invoice.code, invoice_path(invoice) %></td>
          <td>
            <% invoice.campaigns.each do |campaign| %>
              <%= link_to campaign.name, campaign_path(campaign) %></br>
            <% end %>
          </td>
          <td class="text-right"><%= number_to_currency(invoice.grand_totals) %></td>
          <td><%= invoice.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @invoices %>
</div>

<%= render '/layouts/partials/modal', locals: { name: 'createInvoice' } do %>
  <%= form_for :invoice do |f| %>
    <div class="modal-body form-group">
      <div class="form-group">
        <label for="campaingsSelectLabel">Campaigns</label>
        <%= f.select :campaigns, @campaigns_select, {}, multiple: true, class: 'form-control' %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= f.submit 'Create', class: 'btn btn-primary'%>
    </div>
  <% end %>
<% end %>
