<div class="row mt-2 mb-5">
  <%= render 'layouts/partials/breadcrumb', locals: { resource: @campaign } %>

  <h3 class="text-primary"><%= @campaign.name %></h3>

  <table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">booked amount</th>
        <th scope="col">actual amount</th>
        <th scope="col">adjustments</th>
        <th scope="col">billable amount</th>
      </tr>
    </thead>
    <tbody>
      <% @campaign.line_items.each do |item| %>
        <tr>
          <th scope="row"><%= item.id %></th>
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.booked_amount) %></td>
          <td><%= number_to_currency(item.actual_amount) %></td>
          <td>
            <%= form_with model: item do |f| %>
              <%= f.text_field :adjustments,
                value: number_to_currency(item.adjustments),
                id: "input-adjustments-#{item.id}" %>
              <%= f.submit 'save', class: 'btn btn-outline-primary btn-sm' %>
            <% end %>
          </td>
          <td><%= number_to_currency(item.billable_amount) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="6">
          <h5 class="text-primary">
            sub-totals: <%= number_to_currency(@campaign.sub_totals) %>
          </h5>
        </td>
      </tr>
    </tbody>
  </table>
</div>
